<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="background"></div>
    <div class="container">
        <h1>Payment</h1>
        <h2>Toll Charge: ₹{{ toll_charge }}</h2>
        <h3>Wallet Amount: ₹{{ wallet_amt }}</h3>
        <form action="{{ url_for('payment') }}" method="POST">
            <button type="submit" class="btn button-spacing">Pay Now</button>
            <div class="auth-buttons">
                <a href="/route" class="btn">Back to route</a>
            </div>
        </form>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
</body>
</html>
